<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Registration Form</title>
	<!-- link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" /-->
	<link th:replace="layouts :: hey">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
		form span {
			padding-left: 50px;
			padding-top: 10px;
		}
	</style>
</head>

<body style="background-color: #ededed;">
	<nav th:replace="layouts :: navbar"></nav>
	<div class="container" style="margin-top: 30px;">

		<form autocomplete="off" th:action="@{/register/save}" th:object="${hey}" method="post" class="form-signin" role="form">
			<span>
				<h3 class="form-signin-heading">Registration Form</h3>
			</span>
			<span><input type="text" th:field="${hey.username}" placeholder="User Name" class="form-control" /></span>
			<span><input type="password" th:field="${hey.password}" placeholder="Password" class="form-control" /></span>
			<span><button type="submit" class="btn btn-primary btn-block">Register User</button></span>
		</form>

	</div>
</body>

</html>